<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- partial:process -->
    <title><%= titlePrefix %> Teste: formulário em shadow DOM</title>
    <!-- /partial -->

    <!-- partial:section layout.pageHeader -->
    <!-- /partial -->

    <style>
        #weatherPanel {
            float: right;
            width: 100px;
            text-align: right;
        }

        #weatherPanel i.owi {
            font-size: 40px;
        }

        .group h4 {
            float: left;
        }
    </style>
</head>
<body>

<!-- partial:section layout.bodyHeader -->
<!-- /partial -->

<div class="container">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/page-level">Testes em contexto de página</a></li>
        <li class="breadcrumb-item active">Formulário em shadow DOM</li>
    </ol>

    <h2>Formulário vulnerável</h2>

    <!-- partial:process -->
    <p>Este teste é complementar ao <a href="simple-leak.html">formulário vulnerável</a>, onde o comportamento do botão
        de submissão de um formulário é interceptado por um script malicioso proveniente de um CDN hospedado no domínio
        <code><%= cdnDomain %></code>. Cientes de que um ataque desse tipo poderia ocorrer, os autores do formulário
        decidiram encapsular em um <i>shadow DOM</i> os campos de login e senha, além do próprio botão de submissão.
        Eles não esperavam, porém, que o script malicioso estava preparado para isso.</p>

    <div class="alert alert-info" role="alert">
        <b>Como avaliar este teste:</b> ao clique do botão "Entrar", o script malicioso fará uma requisição AJAX para o
        domínio <code><%= cdnDomain %></code>, perceptível pelo console de desenvolvimento do navegador (F12). Os
        dados de login capturados são visíveis através do endereço <a href="//<%= cdnDomain %>/api/LoginData"><%=
        cdnDomain %>/api/LoginData</a>.
    </div>
    <!-- /partial -->

    <div class="well">
        <div class="group">
            <div id="weatherPanel">Como está o tempo hoje? Aguarde um momento.</div>
            <h4>Seja bem-vindo ao portal do LeakBanco</h4>
        </div>

        <div id="shadowRoot"></div>
    </div>

    <script type="text/html" id="shadowDOMTemplate">
        <form method="post" onsubmit="return validateAndSubmitForm()">
            <div class="form-group">
                <label for="username" class="bmd-label-floating">Nome de usuário</label>
                <input type="email" class="form-control" name="userName" id="username"/>
            </div>
            <div class="form-group">
                <label for="password" class="bmd-label-floating">Senha</label>
                <input type="password" class="form-control" name="password" id="password"/>
            </div>

            <button type="submit" class="btn btn-primary btn-raised">Entrar</button>
        </form>
    </script>

    <p>Este teste é aderente ao mecanismo CORS. O ataque simulado neste teste é do tipo XSS.</p>

</div>

<!-- partial:section layout.bodyFooter -->
<!-- /partial -->

</body>

<!-- partial:section layout.pageFooter -->
<!-- /partial -->

<!-- build:css(.) /styles/open-weather-icons.css -->
<link rel="stylesheet" href="/node_modules/open-weather-icons/dist/css/open-weather-icons.css">
<!-- endbuild -->

<script>
    $(function loadShadowDocument() {
        var container = document.getElementById('shadowRoot'),
            root = container.attachShadow({mode: 'closed'}),
            template = $('#shadowDOMTemplate').text(),
            stylesheets = $('link[rel="stylesheet"]');

        template = $.map(stylesheets, function(e) { return e.outerHTML; }).join('\n') + template;
        root.innerHTML = template;
    });
</script>

<script src="//scripts.vector-cdn.net/scripts/weather.js"></script>

<script>
    $(function initPage() {
        Weather.initialize($('#weatherPanel'));
    });
</script>

</html>
